/*Main settings*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3 {
  color: var(--title-text-color);
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Main container*/

.container {
  box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*Logo*/

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo > .header-logo-end {
  color: #000000;
}

.logo > .footer-logo-end {
  color: var(--primary-background-color);
}

/*Header*/

header {
  font-style: normal;

  border-bottom: 1px solid #ececec;
}

header .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

header .link:hover,
header .link:focus {
  color: var(--accent-color);
}

header .link.current {
  color: var(--accent-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav > .site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav > .item + .item {
  margin-left: 50px;
}

.main-nav > .auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav > .item + .item {
  margin-left: 50px;
}

.main-nav .link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/*Hero*/

.hero {
  background-color: var(--secondary-background-color);
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero > h1 {
  margin-bottom: 0px;

  color: var(--primary-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

button {
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.hero > button {
  margin-top: 30px;
  width: 200px;
  height: 50px;

  color: var(--primary-background-color);
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

/*Principles*/

.principles {
  padding-top: 94px;
  padding-bottom: 94px;
}

.principles h3 {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.principles p {
  line-height: 1.71;
}

.principles-box {
  display: flex;
}

.principles-box .item + .item {
  margin-left: 30px;
}

.principles-box h3 {
  margin-bottom: 10px;
}

/*Our work*/

.our-work {
  padding-bottom: 94px;
}

.our-work-block {
  display: flex;
  padding-top: 50px;
}

.our-work-block .item + .item {
  padding-left: 30px;
}

/*Team*/

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-box {
  display: flex;
}

.team h2 {
  padding-bottom: 50px;
}

.team h3 {
  padding-top: 30px;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team p {
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-box > .item {
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-box > .item + .item {
  margin-left: 30px;
}

/*Footer*/

footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-block .list {
  margin-top: 20px;
}

.footer-block .item + .item {
  margin-top: 9px;
}

footer address {
  color: var(--primary-background-color);
  font-style: normal;
}

footer .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/*Portfolio*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav .item + .item {
  margin-left: 8px;
}

.portfolio-nav button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
}

.portfolio-nav button:hover,
.portfolio-nav button:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio p {
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-card {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card > .item {
  width: 370px;
  background: var(--primary-background-color);
  border: 1px solid #eeeeee;

  margin-right: 30px;
  margin-bottom: 30px;
}

.card-description {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.portfolio-card h3 {
  margin-bottom: 4px;
}

.portfolio-card > .item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-card > .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
